
[submodule "home/zprezto"]
	path = home/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
    ignore = dirty
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/bayi/neovim-config.git
    branch = main
