[submodule "Zsh/oh-my-zsh"]
    path = Zsh/oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule "vim/vim/bundle/padawan.vim"]
    path = vim/vim/bundle/padawan.vim
    url = https://github.com/mkusher/padawan.vim.git

[submodule "vim/vim/bundle/vim-colors-solarized"]
    path = vim/vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git

[submodule "vim/vim/bundle/nerdtree"]
    path = vim/vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/emmet-vim"]
	path = vim/vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/vim/bundle/neocomplete.vim"]
	path = vim/vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/vim/bundle/ultisnips"]
	path = vim/vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
