[Unit]
Description=System Control Service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/node %h/Projektek/Private/oscontrol2/index.js
WorkingDirectory=%h/Projektek/Private/oscontrol2
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=oscontrol
Environment=NODE_ENV=production

[Install]
WantedBy=graphical-session.target
