[Unit]
Description=System Control Service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/node --env-file=%h/.oscontrol/.env %h/.oscontrol/index.js
WorkingDirectory=%h/.oscontrol
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=oscontrol
Environment=NODE_ENV=production

[Install]
WantedBy=graphical-session.target
